<section class="wrapper wrapper2 top">
    <div class="container">
      <div class="text">
        <div class="heading">
          <h5>AT THE HEART OF COMMUNICATION</h5>
        </div>
        <br>
        <div class="box flex" >
          <div class="img" style="margin-top: 0.5rem;">
            <img src="static/images/c.jpg" alt="">
          </div>
          <div class="name">
            <h5>Corine & André  </h5>
            <h6>November 2013</h6>
          </div>
        </div>
        <div class="para">
          <div style="text-align: justify;">

            We traveled with Babu for some fantastic weeks. What beautiful countries, people, and friendly travel companions we have had in Babu. Not only a beacon of peace in the chaotic traffic and a nice guy with a sense of humor.We did a lot, and laughed a lot. If you wish, Babu will arrange everything for you. Hotels, meals, or guides to places of interest it makes sense. But he also takes some distance when you need it. The first days it was just great fun and cozy Freedom, and happiness are the wish of every traveler.
            
          </div>
        </div>
      </div>
    </div>
  </section>