{% extends '../base.html' %}
{% load static %}
{% block content %}

<section class="room top" id="room" style="margin-top: 40px;">
    <div class="container">
      <div class="heading_top flex1">
        <div class="heading" >
          <h2 style="margin:20px 0px 0px 0px;" >Travel Packages</h2>
          <p class="package-text" style="font-size: 1rem; padding: 0px; margin:0px 0px 20px 0px ;">You can choose the following packages or plan your own route by <a href="{%url 'contactUs_view'%}">contacting us.</a></p>
        </div>
      </div>
      <section class="gallery">
        <div class="container-lg">
            <div class="row gy-4 row-cols-2 row-cols-sm-3 row-cols-md-4">
              {% for package in packages %}
              <a href="{% url 'packageDetail_view' package.id %}" style="color:black;">
                <div class="col">
                    <img src="{{package.image.url}}" class="gallery-item" alt="Gallery1" name="{{photo.title}}">
                    <div class="text">
                      <h5>{{package.title|capfirst}}</h5>
                       <span>$</span>{{package.price}} <span>/per person
                         <br>
                         {{package.country}}</span> 
                         <p style="text-align: right; position: relative; font-size: .8rem; padding:0; top:-20px;">{{package.averagereview}}({{package.countreview}})</p>
                    </div>
                </div>
              </a>
            {% endfor %}

            </div>
        </div>
      </section>

      {% if packages.has_other_pages %}
<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
  {% if packages.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{packages.previous_page_number}}">Previous</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
  {% endif %}
  {% for i in packages.paginator.page_range %}
  {% if packages.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
  {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
  {% endif %}
  {% endfor %}
  {% if packages.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{packages.next_page_number}}">Next</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
  {% endif %}
  </ul>
</nav>
{% endif %}
    </div>
</section>

{% endblock content %}
  